@model Forum.Models.Eleve
<head>
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
</head>



@*
*@
@{
    // @if (TempData["message_ok"] != null)
    // {
    //     <p style="color: green">@TempData["message_ok"]</p>

    // }
    if (ViewBag.Messagesuccess != null)
    {
        <p style="color: green">@ViewBag.Messagesuccess</p>
    }
    if (ViewBag.MessageError != null)
    {
        <p style="color: red">@ViewBag.MessageError</p>
    }

}

<form method="post">

    <h1>S'inscrire</h1>

    <label asp-for="Nom">Nom :</label><input type="text" asp-for="Nom" />
    <span style="color: red">@Html.ValidationMessageFor(e => e.Nom)</span>

    <label asp-for="Prenom">Prénom :</label><input type="text" asp-for="Prenom" />
    <span style="color: red">@Html.ValidationMessageFor(e => e.Prenom)</span>

    <label asp-for="Email">Email :</label><input type="email" asp-for="Email" />
    <span style="color: red">@Html.ValidationMessageFor(e => e.Email)</span>

    <label asp-for="Password">Mot de passe :</label><input type="password" asp-for="Password" />
    <span style="color: red">@Html.ValidationMessageFor(e => e.Password)</span>

    <button type="submit">S'inscrire</button>

</form>