@model Forum.Models.LoginViewModel
<head>
    <link rel="stylesheet" href="~/css/authentification.css" asp-append-version="true" />
</head>
@*

*@
@{
    if (ViewBag.Messagesuccess != null)
    {
        <p style="color: green">@ViewBag.Messagesuccess</p>
    }
  
    if (ViewBag.MessageError != null)
    {
        <p style="color: red">@ViewBag.MessageError</p>
    }

    //fORMULAIRE DE CONNEXION
    <form method="post">

        <div class="liens">
            <a href="">Espace admin</a>
            <a href="">Espace élève</a>
            <a href="">Espace professeur</a>
        </div>

        <label asp-for="Email">Email :</label>
        <input type="text" asp-for="Email"/>
        <span style="color: red">@Html.ValidationMessageFor(e => e.Email)</span>

        <label asp-for="Password">Mot de passe :</label>
        <input type="text" asp-for="Password" />
        <span style="color: red">@Html.ValidationMessageFor(e => e.Password)</span>

        <input type="radio" name="Role" value="Elève" asp-for="Role" /> Elève
        <input type="radio" name="Role" value="Professeur" asp-for="Role" /> Professeur
        <span style="color: red">@Html.ValidationMessageFor(r => r.Role)</span>

        <button type="submit">Se connecter</button>

    </form>
}