@model Forum.Models.LoginViewModel

@{
    if (ViewBag.Messagesuccess != null)
    {
        <div class="alert alert-success">
            @ViewBag.Messagesuccess
        </div>
    }

    if (ViewBag.MessageError != null)
    {
        <div class="alert alert-danger">
            @ViewBag.MessageError
        </div>
    }
    
    if (ViewBag.Message_error_email != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message_error_email
        </div>
    }

    <div class="div_login">
        <form class="form_login" method="post">
            <label class="label_login" asp-for="Email">Email :</label>
            <input class="input_login" type="text" asp-for="Email" />
            <span class="span_email" style="color: red">@Html.ValidationMessageFor(e => e.Email)</span>

            <label class="label_mdp_login" asp-for="Password">Mot de passe :</label>
            <input class="input_mdp_login" type="text" asp-for="Password" />
            <span class="span_mdp_login" style="color: red">@Html.ValidationMessageFor(e => e.Password)</span>

            <input class="input_radio_login" type="radio" name="Role" value="Elève" asp-for="Role" /> Elève
            <input class="input_radio_prof_login" type="radio" name="Role" value="Professeur" asp-for="Role" /> Professeur
            <span class="span_role_login" style="color: red">@Html.ValidationMessageFor(r => r.Role)</span>

            <button class="button_login" type="submit">Se connecter</button>

        </form>
    </div>

    
}